@import './loading.scss';
// place your custom styles here
.vp-blog-hero-image{
    scale:2;
}
.vp-nav-item{
    margin:0 0.7rem;
    .vp-icon {
        margin-inline-end: 0.5em!important;
    }
}
.vp-blog-hero-description,.vp-blogger-name{
    font-style: oblique;
}
.vp-navbar,.vp-hero-slide-down-button{
    // visibility: hidden;
    transform: translateY(-100%);
    transition: 
        // visibility 0.5s cubic-bezier(0, 0, 1, 1),
        transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    &.slowdown {
        // visibility: visible;
        transform: translateY(0);
    }
}
.theme-container .vp-page{
    padding-top:0!important;
}
.vp-blog-hero.hero-fullscreen {
    height: 100vh!important
}